/* css add image */
.list-images {
    margin-top: 20px;
    display: inline-block;
}

.hidden {
    display: none;
}

.box-image {
    width: 130px;
    height: 140px;
    position: relative;
    float: left;
    margin-left: 5px;
}

.btn-add-image {
    width: 30%;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

/* css editor */
#editor {
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
}

.ql-editor {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    line-height: 1.5;
    width: 100%;
}

/* .ql-toolbar {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    background-color: #fff;
} */

.icon-zoom i:hover {
    color: #1a0ce6;
}