/* css image is actived */
.active-img {
    border: 2px solid #4CAF50;
    border-radius: 10px;
}


/* css scroll image */
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
}

div.scroll-container img {
    padding: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
}