<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Containers Tests">
            <directory suffix="Test.php">./app/Containers</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./app</directory>
            <exclude>
                <!--
                NOTE: Exclude the following directories because they fail when directly included with code-coverage
                -->
                <directory suffix=".php">./app/Ship</directory>
                <directory suffix=".php">./app/Containers/*/Configs</directory>
                <directory suffix=".php">./app/Containers/Includes</directory>
                <directory suffix=".php">./app/Containers/Debugger</directory>
                <directory suffix=".php">./app/Containers/Documentation</directory>
                <directory suffix=".php">./app/Containers/Settings</directory>
                <directory suffix=".php">./app/Containers/SocialAuth</directory>
                <directory suffix=".php">./app/Containers/*/Data</directory>
                <directory suffix=".php">./app/Containers/*/Exceptions</directory>
                <directory suffix=".php">./app/Containers/*/Mails</directory>
                <directory suffix=".php">./app/Containers/*/Middlewares</directory>
                <directory suffix=".php">./app/Containers/*/Tests</directory>
                <directory suffix=".php">./app/Containers/*/Providers</directory>
                <directory suffix=".php">./app/Containers/*/UI/CLI</directory>
                <directory suffix=".php">./app/Containers/*/UI/*/Routes</directory>
                <directory suffix=".php">./app/Containers/*/UI/*/Views</directory>
                <directory suffix=".php">./app/Containers/*/UI/*/Tests</directory>
                <directory suffix=".php">./app/Containers/*/UI/*/Traits</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
      <env name="API_FULL_URL"          value="http://api.apiato.test"/>
      <server name="APP_ENV" value="testing"/>
      <server name="BCRYPT_ROUNDS" value="4"/>
      <server name="CACHE_DRIVER" value="array"/>
      <server name="DB_CONNECTION" value="sqlite"/>
      <server name="DB_DATABASE" value=":memory:"/>
      <server name="MAIL_DRIVER" value="array"/>
      <server name="QUEUE_CONNECTION" value="sync"/>
      <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
